.App {
  display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5vw;
	width: 100%;
}

header {
  display: flex;
	align-items: center;
	flex-direction: column;
	height: 12vw;
	width: 100%;
	gap: 2.5vw;
	padding-top: 60px;
	background-color: #057ce4;
}

main {
  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 12vw;
	width: 100%;
	padding-left: 3vw;
	padding-right: 3vw;
}

footer {
	height: 6vw;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #057ce4;
}